{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h2> SPARTANOS<h2>
<h3>Luiz Linder RA:1701802  <h3>
<h3>Pablo Ferrera RA:1701716 <h3>
<h3>Matias Silva RA:15  <h3>
<h3>Douglas Nardoto RA:1701261<h3>
<h3>Guilherme Oliveira RA:1701510<h3>13 <h3>

<h3>{{ message }}</h3>

<address>
    Spartans é Nóis que Voa<br />
    Rua canta galo, 121<br />
    <abbr title="Telefone">Tel:</abbr>
    08000 1620
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}